@import url(../reset.css);
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background-color: none;
}
html {
  font-size: 62.5%;
}
.wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrap header {
  width: 100%;
  height: 3.6rem;
  background-color: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
  line-height: 3.6rem;
  border-bottom: 1px solid #e4e4e4;
}
.wrap header h1 {
  -webkit-box-flex: 1;
  color: #101010;
  font-size: 1.6rem;
}
.wrap header .back {
  width: 3.6rem;
  height: 3.6rem;
  background-color: none;
}
.wrap header .back img {
  width: 1rem;
  height: auto;
  background-color: none;
  vertical-align: middle;
}
.wrap header .mess {
  width: 3.6rem;
  height: 3.6rem;
  background-color: none;
}
.wrap header .mess img {
  width: 1.6rem;
  height: auto;
  background-color: none;
  vertical-align: middle;
}
.wrap section {
  background-color: #f2f2f2;
  -webkit-box-flex: 1;
}
.wrap section .main {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin-top: 0.4rem;
}
.wrap section .main .title {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 2.4rem;
  background-color: none;
  line-height: 2.4rem;
  border-bottom: 1px solid #f9f9f9;
}
.wrap section .main .title h1 {
  font-size: 1.2rem;
  color: #060606;
  -webkit-box-flex: 1;
  padding-left: 1rem;
}
.wrap section .main .title p {
  text-align: right;
  font-size: 1.2rem;
  color: #686868;
  padding-right: 1rem;
}
.wrap section .main .listBox {
  padding: 0 1rem;
  box-sizing: border-box;
}
.wrap section .main .listBox .list {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 2rem;
  background-color: none;
  line-height: 2rem;
}
.wrap section .main .listBox .list p {
  font-size: 1.2rem;
  color: #6e6e6e;
}
.wrap section .main .listBox .list p:nth-of-type(1) {
  -webkit-box-flex: 1;
}
